<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        
        {% block title %}
            Django Inventory System
        {% endblock title %}
            
    </title>
</head>
<body>
    <header>
        <a href="{% url 'home-view' %}">Home</a>
        <a href="{% url 'create-article' %}">Create Article</a>
        <a href="{% url 'user-login' %}">Login</a>
        <a href="{% url 'user-register' %}">Sign Up</a>
    </header>
    
    {% block content %}
        
    {% endblock content %}
        
</body>
</html>