{% extends 'base.html' %}


{% block content %}

    <h1>Creating an Article</h1>
    

    <form action="{% url 'create-article' %}" method="post">
        {% csrf_token %}
        <div>
            <input type="text" name="title" placeholder="title">
        </div>
        <div style="margin-top: 10px;">
            <textarea name="content" placeholder="content"></textarea>
        </div>
        <div style="margin: 10px;"></div>
            <input type="submit" value="Create Article">
        </div>
    </form>

    
    {% if created %}

        <a href="{% url 'create-article' %}">{{ article.title }}</a>
        
    {% endif %}
        
   
        
    
        
    
    

{% endblock content %}