{% extends 'base.html' %}


{% block content %}

<h1>Sign Up</h1>


{% if not request.user.is_authenticated %}
    <form action="/auth/signup/" method="post">
        {% csrf_token %}

        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        
        {{ form.as_p }}
        <button style="margin-top: 10px;" type="submit">Login</button>
    </form>
    <p>Do you have an account? <a href="{% url 'user-login' %}">Sign Up</a>?</p>
{% endif %}
    
    


    
{% endblock content %}